.home-wrapper .banner .banner-conent .hero h1{
  font-size 2.8rem!important
}
// 文档中适配
table
  width auto
.page >*:not(.footer),.card-box
  box-shadow: none!important

.page
  @media (min-width $contentWidth + 80)
    padding-top $navbarHeight!important
.home-wrapper .banner .banner-conent
  padding 0 2.9rem
  box-sizing border-box
.home-wrapper .banner .slide-banner .slide-banner-wrapper .slide-item a
  h2
    margin-top 2rem
    font-size 1.2rem!important
  p
    padding 0 1rem
/* 修改引用样式 */
blockquote {
  border-left: 4px solid #e8150f;
  margin-left: 0;
  padding-left: 1em;
  color: #000000; /* 将字体颜色改为黑色 */
  background-color: #fdf6f6;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); /* 增加阴影效果 */
}
/* 引用框内增加上下边距 */
blockquote p {
  margin: 10px 0;
}
/* 设置标题一居中 */
h1 {
  text-align: center;
}
/* 链接颜色 */
//a {
//  color: #007acc;
//}
/* 标题字体 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
/* 正文字体 */
body, p, li, a {
  font-family: 'Noto Sans', sans-serif;
}

